@charset "UTF-8";

body {
   font: 1em 'Open Sans', sans-serif;
   overflow: hidden;
   background-color: #2D353E;
   vertical-align: baseline;
   /*  ширна элемента */
   width: 100%;
   min-width: 100%;
   /* высота элемента */
   /* height: 100%; */
   /* min-height: 100%; */
   /* внешние и внутренние отступы */
   margin: 0;
   padding: 0;

}

a img {
   border: none;
}

/* заголовок */
.topbar {
   position: fixed;
   top: 0;
   background: #515c6b;
   color: #ffff;
   font-size: 1.3em;
   line-height: 50px;
   /*  ширна элемента */
   width: 100%;
   min-width: 100%;
   /* высота элемента */
   height: 50px;
   min-height: 50px;
   /* внешние и внутренние отступы */
   margin: 0;
   padding: 0;
}

/* кнопка меню */
.hamburger {
   display: inline-block;
   user-select: none;
   cursor: pointer;
   text-align: center;
   /* высота элемента */
   height: inherit;
   min-height: inherit;
   /*  ширна элемента */
   width: 50px;
   min-width: 50px;
   /* внешние и внутренние отступы */
   margin: 0;
   padding: 0;
}

#sidebar-check {
   display: none;
}

/* Переключаемая боковая панель навигациивыдвигающаяся по клику слева */
#sidebar {
   color: #fff;
   overflow: auto;
   /*  ширна элемента */
   width: 320px;
   min-width: 320px;
   /* фиксируем и выставляем высоту панели на максимум */
   position: absolute;
   top: 50px;
   bottom: 0;
   margin: 0;
   height: 100hv;
   /* сдвигаем (прячем) панель относительно левого края страницы */
   left: -320px;
   /* внутренние отступы */
   padding: 10px 10px;
   /* плавный переход смещения панели */
   transition: left 0.3s;
   /* определяем цвет фона панели */
   background: #1f252c;
}

#sidebar-check:checked~#sidebar {
   transform: translate3d(320px, 0, 0);
   position: absolute;
}

/* область содержания, когда меню закрыто */
#main {
   position: absolute;
   overflow: hidden;
   /*  ширна элемента */
   width: 100%;
   /* фиксируем и выставляем высоту элемента на максимум */
   margin: 50px 0px 0px 0px;
   height: 100%;
   /* внутренние отступы */
   padding: 0px 0px 50px 0px;
}

/* область содержания, когда меню открыто */
#sidebar-check:checked~#main {
   transform: translate3d(320px, 0, 0);
   position: absolute;
   overflow: hidden;
   /*  ширна элемента */
   width: 100%;
   /* фиксируем и выставляем высоту элемента на максимум */
   margin: 50px 0px 0px 0px;
   height: 100%;
   /* внутренние отступы */
   padding: 0px 320px 50px 0px;
}

.category-check {
   display: none;
}

.category .category-label {
   user-select: none;
   position: relative;
   display: block;
   /* высота строки категории */
   line-height: 60px;
   text-transform: uppercase;
   padding: 0 20px;
   cursor: pointer;
}

.category .category-label:after {
   float: right;
   font-family: monospace;
   content: "▲";
   transition-duration: 300ms;
   transform: rotate3d(0, 0, 1, 90deg);
}

.category-check:checked+.category .category-label:after {
   transform: rotate3d(0, 0, 1, 180deg);
}

.category .category-list li {
   display: block;
   padding: 0 20px;
   overflow: hidden;
   height: 0;
   line-height: 0;
   margin-bottom: 0;
   transition-duration: 300ms;
}

.category-check:checked+.category .category-list li {
   height: 32px;
   line-height: 32px;
   margin-bottom: 8px;
}

.category .category-list li label {
   display: block;
   cursor: pointer;
}

a {
   pointer-events: auto;
   color: #006b05;
   text-decoration: none;
}